.pageFooterMain {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.pageFooter {
	padding-top: 30px;
	padding-bottom: 25px;
	padding-left: 100px;
	padding-right: 100px;
}

@media screen and (max-width: 1024px) {
	.pageFooter {
		padding-top: 20px;
		padding-bottom: 10px;
		padding-left: 30px;
		padding-right: 30px;
	}
}

@media screen and (max-width: 360px) {
	.pageFooterMain {
		flex-direction: column;
	}

	.year {
		width: 100%;
		text-align: center;
		margin-top: 20px;
	}
}